/* styles.css */
.gp-element-title {
    /*color: red;*/
    font-weight: bold;
    cursor: pointer;
    display: inline;
    position: relative;
}
.gp-element-title:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.gp-element-title:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
.gp-element-description {
    font-weight: bold;
    display: block;
}
.gp-template-top {
    padding: 0 10px 10px 10px;
}
.gp-template-top h1 {
    text-align: center;
}
.gp-template-top-title {
    font-weight: bold;
    font-size: 14px;
}

/*table*/
table.dr-sr-view.listing{border-collapse:collapse}
table.dr-sr-view.listing tr td:nth-child(1){vertical-align: middle}
table.dr-sr-view.listing tr td:nth-child(2){background:#F4F4F4 !important}
table.dr-sr-view.listing tr,table.dr-sr-view.listing td{border:.1em solid #e7e7e7;padding:.5em 1em;vertical-align:top;background:#F4F4F4}
table.dr-sr-view.listing td.row-header{width:100px;text-align:left;color:#666;font-weight:700;border:.1em solid #e7e7e7;border-style:solid solid none;background:#ddd}

